 <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Current NHL Conferences!</h1>
          <br>
          <% if @conferences.empty? %>
          <p>There are no conferences.</p>
            <% else %>
              <ul class="list-group">
                <%  @conferences.each do |c| %>
                  <li class="list-group">
                    <%= link_to c.conference_name, c %>
                  </li>
            <% end %>
            </ul>
          <% end %>
        </div>
        </div>
      </div>