<!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">About the NHL Database</h1>
          <p class="lead">NHL database was created by Kyle Specht for his Intro to Rails project. It contains all the current  NHL roster players with detailed information down to the jersey number! It also contains every team in the NHL information as well!</p>
        </div>
      </div>
    </div>